h2
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 2em;
    color: wheat;
}

h3
{
    font-size: 1.5em;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: blueviolet;

}

body
{
    font-family: 'Times New Roman', serif;
    font-size: 1.25em;
    background-color: rgb(158, 189, 149);
}